/* header section */

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #4aaaa5;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
}

#logo {
    float: left;
    margin-left: 200px;
}

#navbar {
    float: right;
    margin-right: 200px;
    padding-top: 30px;
}

a {
    color: #777777;
}

a:hover {
    color: blue;
}

span :hover {
    color: blue;
}

a :hover {
    background-color: paleturquoise;
}

/* Width responsive */

@media screen and (max-width: 991px){
    #logo {
        margin-left: 0px;
    }
    #navbar {
        font-size: 80%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 700px) {
    #logo {
        margin-left: 0px;
    }
    #navbar {
        font-size: 70%;
        margin-right: 2%;
    }
}

/* chat window*/

#Chat {
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 10;
}

/* Width Responsive */

@media screen and (max-width: 700px) {
    #Chat {
        width: 40px !important;
          }
}

/* footer section */

.footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 80px;
    width: 100%;
    background-color: #666666;
    border: 6px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
}

#footnavbar {
    float: center;
    text-align: center;
    padding-top: 30px;
}

/* Width Responsive */

@media screen and (max-width: 700px) {
#footnavbar {
    font-size: 70%;
            }
}

/* Index Content Section */
/* About me */

.about {
    display: block;
    position: absolute;
    top: 13.5%;
    left: 14%;
    height: 500px;
    width: 70%;
    background-color: #ffffff;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 35px;
    color: #4aaaa5;
}

#selfie {
    float: left;
}

p1 {
    text-align: justify;
    color: #777777;
    font-family: sans-serif;
}

p2 {
    float: right;
    color: #777777;
    font-family: sans-serif;
    position: relative;
    right: 50px;
    bottom: 47.5%;
    padding-left: 100px;
    text-align: justify;
}

/* Width responsive */

@media screen and (max-width: 991px) {
    .about {
    overflow: scroll;
    }  
}

@media screen and (max-width: 700px) {
    .about {
        height: 60%;
        position: absolute;
        top: 20%;
    }
    #selfie {
        width: 100px !important;
    }
}

/* Height Responsive */

@media screen and (max-height: 300px) {
    .about {
        margin-top: 5%;
    }
    #selfie {
        width: 100px !important;
    }
}

/* Portfolio Content Section */
/* Portfolio */

.portfolio {
    display: block;
    position: absolute;
    top: 13.5%;
    left: 14%;
    height: 500px;
    width: 70%;
    background-color: #ffffff;
}

#video {
    float: left;
    overflow: auto;
    height: 400px;
    width:  500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#blog {
    float: right;
    overflow: auto;
    height: 400px;
    width:  500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Width responsive */

@media screen and (max-width: 1400px) {
    .portfolio {
        height: 60%;
        position: absolute;
        top: 20%;
        overflow: auto;
    }
    #video {
        width: 100% !important;
        height: 250px;
    }
    #blog {
        width: 100% !important;
        height: 250px;
    }
}

@media screen and (max-width: 991px) {
    .portfolio {
        height: 60%;
        position: absolute;
        top: 20%;
        overflow: auto;
    }
}

@media screen and (max-width: 700px) {
    #video {
        width: 100% !important;
        height: 250px;
    }
    #blog {
        width: 100% !important;
        height: 250px;
    }
}

/* Height Responsive */

@media screen and (max-height: 300px) {
    .portfolio {
        margin-top: 5%;
    }
}

/* Contact Content Section */
/* Contact */

.contact {
    display: block;
    position: absolute;
    top: 13.5%;
    left: 14%;
    height: 500px;
    width: 70%;
    background-color: #ffffff;
}

#form {
    color: #777777;
    font-family: sans-serif;
    margin-left: 5%; 
}

#submit {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#submit:hover {
    background: transparent;
    color: #4aaaa5;
    border-color: #4aaaa5;
    border-style: solid;
    border-width: 2px;
}

.contact :focus {
    background: gray;
    color: white;
}

/* Width responsive */

@media screen and (max-width: 991px) {
    .contact {
        height: 60%;
        position: absolute;
        top: 20%;
        overflow: auto;
    }
}

@media screen and (max-width: 1400px) {
    .contact {
        height: 60%;
        position: absolute;
        top: 20%;
        overflow: auto;
    }
}

/* Height Responsive */

@media screen and (max-height: 300px) {
    .contact {
        margin-top: 5%;
    }
}